name: Bump version

on:
  workflow_dispatch:  

jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: Commit changes
        run: |
          npm install
          git branch
          echo 456 >> 1.txt
          git add .
          git commit -m "Bump version to $NEW_VERSION"
          git push origin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

 
