name: Bump version

on:
  workflow_dispatch:  

jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: Commit changes
        run: |
          rm -rf node_modules
          git config --global user.email "421826878@qq.com"
          git config --global user.name "xx732395"
          npm install
          git branch
          echo 555 >> 123.txt
          npm run release-publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}

 
