name: Bump version

on:
  workflow_dispatch:  

jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Bump version
        run: |
          VERSION=`cat package.json | grep version | head -1 | awk -F: '{ print $2 }' | sed 's/[\",]//g'`
          echo "Current version is $VERSION"
          NEW_VERSION="$VERSION.0.1"
          echo "New version is $NEW_VERSION"
          git branch
          sed -i "s/$VERSION/$NEW_VERSION/g" package.json
      - name: Commit changes
        run: |
          git config --global user.email "421826878@qq.com"
          git config --global user.name "xx732395"
          git add .
          git commit -m "Bump version to $NEW_VERSION"
          git push origin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

 
